.footer-container {
    width: 100%;
    background: hsl(255, 11%, 22%);
    min-height: 400px;
    padding: 2rem 0;
}

.footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
        padding: 2rem 0;
        
        & h3 {
            font-size: 2rem;
            color: #fff;
            cursor: pointer;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:first-child) {
            margin-top: 2rem;
        }

        & h4 {
            color: #fff;
            margin-bottom: .9rem;
            font-size: 1.2rem;
        }

        & ul {
            list-style-type: none;
        }

        & li {
            padding: .3rem;
        }

        & a {
            text-decoration: none;
            color: hsl(0, 0%, 59%);

            &:hover {
                color: hsl(0, 2%, 74%);                
            }
        }
    }


    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.3rem;
        & img {
            cursor: pointer;
            padding: .5rem;
        }
    }
}


@media screen and (min-width: 1100px) {



    .footer {
        width: 80%;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        padding: 3rem 0;
        justify-content: space-between;
        &__title {
            padding: 0 3rem;
            transform: translateY(-25%);
            & h3 {
                font-size: 2.4rem;
                color: #fff;
            }
        }

        &__content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
            justify-content: space-evenly;
            flex: 1;
        }
    
    
        &__card {
            padding: 0;
            margin-left: 0rem;
            align-items: flex-start;
            &:not(:first-child) {
                margin-top: 0rem;
            }
    
            & h4 {
                color: #fff;
                margin-bottom: .7rem;
                font-size: 1.2rem;
            }
    
            & ul {
                list-style-type: none;
            }
    
            & li {
                padding: .2rem 0;
            }
    
            & a {
                text-decoration: none;
                color: hsl(0, 0%, 59%);
            }
        }
    
    
        &__socials {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0rem;
            & img {
                cursor: pointer;
                padding: 0rem .5rem;
            }
        }
    }

}


@media screen and (min-width: 1300px) {



    .footer {

        &__title {

            & h3 {
                font-size: 2.7rem;

            }
        }

        &__content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-evenly;
            text-align: left;
            flex: 1;
        }
    
    
        &__card {
            padding: 0;
            margin-left: 0rem;
            align-items: flex-start;
            &:not(:first-child) {
                margin-top: 0rem;
            }
    
            & h4 {
                color: #fff;
                margin-bottom: .7rem;
                font-size: 1.2rem;
            }
    
            & ul {
                list-style-type: none;
            }
    
            & li {
                padding: .2rem 0;
            }
    
            & a {
                text-decoration: none;
                color: hsl(0, 0%, 59%);
            }
        }
    
    
        &__socials {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0rem;
            & img {
                cursor: pointer;
                padding: 0rem .5rem;
            }
        }
    }

}